<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>
      {{- with .Site.Params.description }}
      {{ . | markdownify }}
      {{- else }}
      <img src="/img/learning_bulb2.png">
      <p>A journey of growth and learning in the techology field, with an emphasis on virtualization, cloud, and security</p>
      {{- end }}
    </p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item {{ if .IsHome }} active {{ end }}" href="/">Home</a>
    <a class="sidebar-nav-item {{ if eq .RelPermalink "/post/" }} active {{ end }}" href="/post">Posts</a>
    {{- $currentPage := . }}
    {{- range .Site.Menus.main -}}
    <a class="sidebar-nav-item{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}" href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
    {{- end -}}

    {{- $thisperma := .Permalink }}
    {{ range .Site.Pages.ByWeight -}}
      {{ if isset .Params "sidebar" -}}
        <a class="sidebar-nav-item {{ if eq .Permalink $thisperma }} active {{ end }}" href="{{ .Permalink }}">{{ .Title }}</a>
      {{ end -}}
    {{ end -}}
    <a class="sidebar-nav-item" href="{{ "/tags/" | relURL }}">ContentTags</a>
    <a class="sidebar-nav-item" href="{{ "/categories/" | relURL }}">Post Categories</a>

    {{- with .Site.Params.Github }}
    <a class="sidebar-nav-item" href="{{ .url }}/archive/{{ .head }}.zip">Download</a>
    <a class="sidebar-nav-item" href="{{ .url }}">GitHub project</a>
    <span class="sidebar-nav-item">Currently on {{ .head }}</span>
    {{ end -}}
  </nav>

  <div class="sidebar-item">
    <a href="https://github.com/BigonDis"><i class="fa-brands fa-square-github fa-2xl"></i></a>
    <p></p>
    <p>&copy; {{ now.Year }}. All rights reserved.</p>
  </div>
</div>
